.card-first {
  margin-bottom: 20px;

  .row-first {
    margin-bottom: 30px;    
  }
  
  .row-second {
    margin-bottom: 9px;
  }
}

.card-second {
  .row-first {
    margin-bottom: 9px;

    .export-button {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.export-pdf-button {
  margin-bottom: 17.25px;
  width: 170px;
  padding-left: 15px;
}

.background-of-spinner {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #FFF;
  z-index: 100;
  opacity: 0.7;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 0px;
}

.table-container {
  width: 1168px;
  max-width: 100%;
  overflow: auto;

  table {
    width: 3000px;

    td.mat-column-star {
      width: 20px;
      padding-right: 8px;
    }

    th.mat-column-position, td.mat-column-position {
      padding-left: 8px;
    }
  }
}