<mat-card class="card-first">
  <div class="row row-first">
    <div class="col-md-6 start-md">
      <p class="body-1">Data: {{ lastDate | date:'shortDate' }}</p>
    </div>
    <div class="col-md-6 end-md">
      <mat-button-toggle-group name="fontStyle" (change)="extractToggle($event)" aria-label="Font Style">
        <mat-button-toggle id="analytic" [checked]="isExtractTypeAnalitic" value="ANALYTIC">
          Analítica
        </mat-button-toggle>
        <mat-button-toggle id="consolidate" [checked]="!isExtractTypeAnalitic" value="CONSOLIDATE">
          Consolidada
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>

  <form [formGroup]="searchForm" (ngSubmit)="onSearchSubmit()" autocomplete="off">
    <div class="row row-second center-md">
      <div class="col-md-2">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Cód. da Empresa</mat-label>
          <mat-select formControlName="codigoEmpresa">
            <mat-option *ngFor="let company of companies" [value]="company.cdEmpresa">
              {{ company.cdEmpresa }} - {{ company.nmHoldingEmpres }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Cód. do Cliente</mat-label>
          <input matInput formControlName="codigoCliente" appOnlyIntegerNumber>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Modalidade</mat-label>
          <mat-select formControlName="modalidade">
            <mat-option value='all'>TODAS</mat-option>
            <mat-option *ngFor="let modality of modalities$ | async" [value]="modality.cdModalidade">
              {{ modality.dsModalidade }} - {{ modality.cdModalidade }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Tipo de relatório</mat-label>
          <mat-select formControlName="tipoDeRelatorio">
            <mat-option value="MONTHLY_REPORT">Mensal</mat-option>
            <mat-option value="ANNUAL_REPORT">Anual</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row center-md">
      <div class="col-md-2 end-md">
        <button mat-raised-button type="button" (click)="clearFields()" class="search-button" color="primary">
          Limpar filtros
        </button>
      </div>
      <div class="col-md-2 start-md">
        <button mat-raised-button type="submit" class="search-button" color="accent">Pesquisar</button>
      </div>
    </div>
  </form>
</mat-card>

<mat-card class="card-second">
  <app-spinner [show]="showSearchSpinner"></app-spinner>
  <form [formGroup]="extractPdfForm" (ngSubmit)="onExtractPdfSubmit()">
    <div class="row center-md middle-md row-first">
      <div class="col-md-2">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Ordenar por</mat-label>
          <mat-select formControlName="ordenadoPor">
            <mat-option value="cdCliente">Cód. do Cliente</mat-option>
            <mat-option value="nmCliente">Nome do Cliente</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <button mat-raised-button color="primary" type="submit" class="export-pdf-button">
          <div class="button-loading">
            {{ showExtractSpinner ? 'Exportando...' : 'Exportar PDF' }}
          </div>
        </button>
      </div>
    </div>
  </form>

  <div class="mat-elevation-z8">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="cdCliente">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cd Cliente</th>
          <td mat-cell *matCellDef="let element">{{ element.cdCliente }}</td>
        </ng-container>
        <ng-container matColumnDef="nmCliente">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
          <td mat-cell *matCellDef="let element">{{ element.nmCliente }}</td>
        </ng-container>
        <ng-container matColumnDef="dtReferencia">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Dt Ref</th>
          <td mat-cell *matCellDef="let element">{{ element.dtReferencia | date: 'shortDate' }}</td>
        </ng-container>
        <ng-container matColumnDef="dsNegocio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição do Negócio</th>
          <td mat-cell *matCellDef="let element">{{ element.dsNegocio }} - {{ element.dsNegocioIngles }}</td>
        </ng-container>
        <ng-container matColumnDef="cdProduto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Produto</th>
          <td mat-cell *matCellDef="let element">
            {{ element.dsProduto }} - {{ element.cdProduto }}
          </td>
        </ng-container>
        <ng-container matColumnDef="cdModalidade">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Modalidade</th>
          <td mat-cell *matCellDef="let element">
            {{ element.dsModalidade }} - {{ element.cdModalidade }}
          </td>
        </ng-container>
        <ng-container matColumnDef="dtInicioOper">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Dt Ini Oper</th>
          <td mat-cell *matCellDef="let element">{{ element.dtInicioOper | date: 'shortDate' }}</td>
        </ng-container>
        <ng-container matColumnDef="dtVencimentoOper">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Dt Ven Oper</th>
          <td mat-cell *matCellDef="let element">{{ element.dtVencimentoOper | date: 'shortDate' }}</td>
        </ng-container>
        <ng-container matColumnDef="moeda">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Moeda</th>
          <td mat-cell *matCellDef="let element">
            {{ element.moeda }} - {{ element.cdMoeda }}
          </td>
        </ng-container>
        <ng-container matColumnDef="qtde">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Vl Oper</th>
          <td mat-cell *matCellDef="let element">
            Qt: {{ element.qtde | currency: 'BRL' }} / Vl ME: {{ element.vlOperacaoMe | currency: 'BRL' }} / Vl MN: {{
            element.vlOperacaoMn | currency: 'BRL' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="displayQtde">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Exibição de Valores</th>
          <td mat-cell *matCellDef="let element">
            Qt: {{ element.displayQtde.charAt(0) }} / Sld ME: {{ element.displaySldMe.charAt(0) }} / Sld MN: {{
            element.displaySldMn.charAt(0) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="sgModulo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sistema</th>
          <td mat-cell *matCellDef="let element">
            {{ element.sgSistema }} - {{ element.sgModulo }}
          </td>
        </ng-container>
        <ng-container matColumnDef="cdCgcCpf">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>CNPJ/CPF</th>
          <td mat-cell *matCellDef="let element">{{ element.cdCgcCpf }}</td>
        </ng-container>
        <ng-container matColumnDef="dcEnd1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Endereço</th>
          <td mat-cell *matCellDef="let element">
            {{ element.dcEnd1 }} - {{ element.dcEnd2 }} - {{ element.dcEnd3 }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [length]="totalElements" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      [showFirstLastButtons]="true" (page)="handleChangePage($event)" [disabled]="dataSource.data.length === 0">
    </mat-paginator>
  </div>
</mat-card>