<h1 mat-dialog-title>Modalidade - Parametrização</h1>
<div class="mat-dialog-content" mat-dialog-content>
  <form [formGroup]="preMontagemFormGroup" class="row formGroup">
    <mat-form-field appearance="fill" class="col-xs-2">
      <mat-label>Cód Sequencial</mat-label>
      <input
        matInput
        id="cdSeqModalidade"
        name="cdSeqModalidade"
        formControlName="cdSeqModalidade"
      />
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-xs-4">
      <mat-label>Cód do Produto</mat-label>

      <mat-select id="cdProduto" name="cdProduto" formControlName="cdProduto">
        <mat-option value="">NULO + NULO</mat-option>
        <mat-option
          *ngFor="let products of products$ | async"
          [value]="products.cdProduto"
          [matTooltip]="products.dsProduto + ' - ' + products.cdProduto"
        >
          {{ products.dsProduto }} - {{ products.cdProduto }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-xs-4">
      <mat-label>Cód Modalidade</mat-label>
      <mat-select
        id="cdModalidade"
        name="cdModalidade"
        formControlName="cdModalidade"
      >
        <mat-option value="">NULO + NULO</mat-option>
        <mat-option
          *ngFor="let modality of modalitiesFilteredBySelectedProduct"
          [value]="modality.cdModalidade"
          [matTooltip]="modality.dsModalidade + ' - ' + modality.cdModalidade"
        >
          {{ modality.dsModalidade }} - {{ modality.cdModalidade }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-xs-4">
      <mat-label>Sistema Origem</mat-label>
      <mat-select id="cdSisOrig" name="cdSisOrig" formControlName="cdSisOrig">
        <mat-option value="">NULO + NULO</mat-option>
        <mat-option
          *ngFor="let sourceSystem of sourceSystem$ | async"
          [value]="sourceSystem.cdSisOrig"
          [matTooltip]="sourceSystem.nmSistema + ' - ' + sourceSystem.cdSisOrig"
        >
          {{ sourceSystem.nmSistema }} - {{ sourceSystem.cdSisOrig }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-xs-3">
      <mat-label>Quantidade de Casas Decimais</mat-label>
      <input
        matInput
        id="qtCasaDec"
        name="qtCasaDec"
        formControlName="qtCasaDec"
        appOnlyIntegerNumber
      />
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-xs-2">
      <mat-label>Trunca / Arredonda</mat-label>
      <mat-select id="iddDTrro" name="iddDTrro" formControlName="iddDTrro">
        <mat-option value="TRUN">Trunca</mat-option>
        <mat-option value="ARRD">Arredonda</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-xs-5">
      <mat-label>Campo Origem (Midas)</mat-label>
      <mat-select formControlName="iddDCamd">
        <mat-option
          *ngFor="let origem of origemMidas"
          [value]="origem.value"
          [matTooltip]="origem.key"
        >
          {{ origem.key }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-xs-5">
      <mat-label>Campo Destino (Extrato)</mat-label>
      <mat-select formControlName="iddDCaex">
        <mat-option
          *ngFor="let destino of destinoExtratos"
          [value]="destino.value"
          [matTooltip]="destino.key"
        >
          {{ destino.key }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-xs-4">
      <mat-label>Vl Absoluto / Original / Sinal Invertido</mat-label>
      <mat-select id="iddDSnop" name="iddDSnop" formControlName="iddDSnop">
        <mat-option value="ABSL">Valor Absoluto</mat-option>
        <mat-option value="ORIG">Valor Original</mat-option>
        <mat-option value="INVR">Invertido</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-xs-4">
      <mat-label>Cód da Moeda da Operação</mat-label>
      <mat-select
        id="cdMoedaOper"
        name="cdMoedaOper"
        formControlName="cdMoedaOper"
      >
      <mat-option value="">NULO + NULO</mat-option>
      <mat-option
        *ngFor="let currency of currencies$ | async"
        [value]="currency.cdMoeda"
        [matTooltip]="currency.nmMoeda + ' - ' + currency.cdMoeda"
      >
        {{ currency.nmMoeda }} - {{ currency.cdMoeda }}
      </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div class="mat-dialog-actions" mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="salvarModalidade()">
    Salvar
  </button>
  <button mat-raised-button color="primary" (click)="close()">Sair</button>
</div>
