h1 {
  color: #000;
  font-size: 16px;
}

.formGroup {
  width: 100%;
  display: flex;
  align-items: center;
}

.mat-dialog-actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
}
