<h1 class="mat-dialog-title" mat-dialog-title>
  <section>
    <mat-icon aria-hidden="false" aria-label="info icon"> check_circle </mat-icon>
    <span class="title">{{ data.titulo }}</span>
  </section>
  <mat-icon class="close" (click)="dialogRef.close()" aria-hidden="false" aria-label="info icon"> close </mat-icon>
</h1>
<div mat-dialog-content>
  <ul *ngFor="let dado of data.dados">
    <li>{{ dado }}</li>
  </ul>
</div>
<div class="mat-dialog-actions" mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="dialogRef.close()" cdkFocusInitial>
    {{ data.acao || 'OK' }}
  </button>
</div>
