<mat-card>
  <div class="row">
    <div class="col-md-6 start-md">
      <p class="body-1">Data: {{ lastDate | date:'shortDate' }}</p>
    </div>
  </div>
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="row center center-md">
      <div class="col-md-4">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Modalidade</mat-label>
          <mat-select formControlName="modalidade">
            <mat-option value='all'>TODAS</mat-option>
            <mat-option *ngFor="let modality of modalities$ | async" [value]="modality.cdModalidade">
              {{ modality.dsModalidade }} - {{ modality.cdModalidade }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Cód. do Cliente</mat-label>
          <input matInput formControlName="codigoCliente" appOnlyIntegerNumber>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Cód. da Empresa</mat-label>
          <mat-select formControlName="codigoEmpresa">
            <mat-option *ngFor="let company of companies" [value]="company.cdEmpresa">
              {{ company.cdEmpresa }} - {{ company.nmHoldingEmpres }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row center-md">
      <div class="col-md-2 end-md">
        <button mat-raised-button [disabled]="!hasFieldFilled" type="button" (click)="resetFilter()"
          color="primary">Limpar
          filtros</button>
      </div>
      <div class="col-md-2 start-md">
        <button mat-raised-button [disabled]="!hasFieldFilled" type="submit" color="accent">Pesquisar</button>
      </div>
    </div>
  </form>
</mat-card>