<app-search-form (handleSubmit)="handleSubmit($event)" (handleReset)="onResetForm()">
</app-search-form>
<mat-card class="card-second" style="margin-top: 20px;">
  <div class="row center-md">
    <div class="col-md-2">
      <button mat-raised-button (click)="refresh()" class="search-button" class="full-width" color="primary">
        Recarregar
      </button>
    </div>
    <div class="col-md-2">
      <button mat-raised-button (click)="openForm()" [disabled]="selection.hasValue()" class="search-button"
        class="full-width" color="primary">
        Inserir
      </button>
    </div>
    <div class="col-md-2">
      <button mat-raised-button (click)="openForm(true)" [disabled]="!selection.hasValue()" class="search-button"
        class="full-width" color="primary">
        Alterar
      </button>
    </div>
    <div class="col-md-2">
      <button mat-raised-button (click)="removeCadastro()" [disabled]="!selection.hasValue()" class="search-button"
        class="full-width" color="primary">
        Remover
      </button>
    </div>
  </div>

  <div class="grid-list">
    <app-list [dataSource]="dataSouce" [selection]="selection" [loadingClients]="loadingClients"
      [totalElements]="totalElements" (changeMatSort)="changeMatSort($event)"
      (handleChangePage)="handleChangePage($event)"></app-list>
  </div>
</mat-card>