<app-pre-montagem-manutencao-search
  (searchMontagemEmitter)="handleSearch($event)"
  (clearMontagemEmitter)="handleClearMontagem($event)"
></app-pre-montagem-manutencao-search>
<mat-card>
  <div class="grid-list">
    <app-pre-montagem-manutencao-list
      #preMontagemManutencaoList
      [loaded]="loaded"
      [preMontagemResponse]="preMontagemResponse"
      [loadPreMontagem]="loadPreMontagem"
      (recarregarEmitter)="handleRecarregar()"
      (changePageEmitter)="handleChangePage($event)"
    ></app-pre-montagem-manutencao-list>
  </div>
</mat-card>
