.card-second {
  margin-top: 20px;
}

.grid-list {
  margin-top: 20px;
}

.selected-row {
  background-color: #CCEEF9;
}

.table-container {
  width: 1168px;
  max-width: 100%;
  overflow: auto;

  table {
    width: 3000px;

    td.mat-column-star {
      width: 20px;
      padding-right: 8px;
    }

    th.mat-column-position, td.mat-column-position {
      padding-left: 8px;
    }
  }
}