<mat-card>
  <div class="row">
    <p class="col-md-6 start-md body-1">Data: {{ lastDate | date:'shortDate' }}</p>
  </div>
  <form [formGroup]="form" (ngSubmit)="getOperations()" autocomplete="off">
    <div class="row">
      <div class="col-xs-12">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option value="APROVADO">Aprovado</mat-option>
            <mat-option value="PENDENTE">Pendente</mat-option>
            <mat-option value="REJEITADO">Rejeitado</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row center-md">
      <div class="col-md-2 end-md">
        <button mat-raised-button type="button" (click)="clearFields()" class="search-button" color="primary">
          Limpar filtros
        </button>
      </div>
      <div class="col-md-2 start-md">
        <button mat-raised-button type="submit" class="search-button" color="accent">Pesquisar</button>
      </div>
    </div>
  </form>
</mat-card>

<mat-card class="card-second">
  <div class="row center-md">
    <div class="col-md-2">
      <button mat-raised-button (click)="getOperations()" class="search-button" class="full-width" color="primary">
        Recarregar
      </button>
    </div>
    <div class="col-md-2">
      <button mat-raised-button (click)="aproveOperation()" [disabled]="!selection.hasValue()" class="search-button"
        class="full-width" color="primary">
        Autorizar operação
      </button>
    </div>
    <div class="col-md-2">
      <button mat-raised-button (click)="rejectOperation()" [disabled]="!selection.hasValue()" class="search-button"
        class="full-width" color="primary">
        Rejeitar operação
      </button>
    </div>
  </div>

  <div class="grid-list">
    <app-spinner [show]="showSpinner"></app-spinner>
    <div class="mat-elevation-z8">
      <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <mat-radio-button (click)="$event.stopPropagation()" (change)="selection.select(row)">
              </mat-radio-button>
            </td>
          </ng-container>
          <ng-container matColumnDef="autCdSequencial">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cód. Sequencial</th>
            <td mat-cell *matCellDef="let element">{{ element.autCdSequencial }}</td>
          </ng-container>
          <ng-container matColumnDef="autDsTipoOperacao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de Operação</th>
            <td mat-cell *matCellDef="let element">{{ element.autDsTipoOperacao }}</td>
          </ng-container>
          <ng-container matColumnDef="autStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status de Operação</th>
            <td mat-cell *matCellDef="let element">{{ element.autStatus }}</td>
          </ng-container>
          <ng-container matColumnDef="autCdUsuarioSolicitacao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Solicitação - Cód. do Usuário</th>
            <td mat-cell *matCellDef="let element">{{ element.autCdUsuarioSolicitacao }}</td>
          </ng-container>
          <ng-container matColumnDef="autDtSolicitacao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Solicitação - Data da Alteração</th>
            <td mat-cell *matCellDef="let element">
              {{ converDateTimeStringToDateTimeBRString(element.autDtSolicitacao) }}
            </td>
          </ng-container>
          <ng-container matColumnDef="autCdUsuarioAutorizacao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Autorização - Cód. do Usuário</th>
            <td mat-cell *matCellDef="let element">
              {{ element.autCdUsuarioAutorizacao }}
            </td>
          </ng-container>
          <ng-container matColumnDef="autDtAutorizacao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Autorização - Data da Alteração</th>
            <td mat-cell *matCellDef="let element">
              {{ converDateTimeStringToDateTimeBRString(element.autDtAutorizacao) }}
            </td>
          </ng-container>
          <ng-container matColumnDef="cdCliente">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cd Cliente</th>
            <td mat-cell *matCellDef="let element">{{ element.cdCliente }}</td>
          </ng-container>
          <ng-container matColumnDef="nmCliente">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
            <td mat-cell *matCellDef="let element">{{ element.nmCliente }}</td>
          </ng-container>
          <ng-container matColumnDef="dtReferencia">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Dt Ref</th>
            <td mat-cell *matCellDef="let element">
              {{ converDateTimeStringToDateTimeBRString(element.dtReferencia) }}
            </td>
          </ng-container>
          <ng-container matColumnDef="dsNegocio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição do Negócio</th>
            <td mat-cell *matCellDef="let element">{{ element.dsNegocio }} - {{ element.dsNegocioIngles }}</td>
          </ng-container>
          <ng-container matColumnDef="cdProduto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Produto</th>
            <td mat-cell *matCellDef="let element">
              {{ element.dsProduto }} - {{ element.cdProduto }}
            </td>
          </ng-container>
          <ng-container matColumnDef="cdModalidade">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Modalidade</th>
            <td mat-cell *matCellDef="let element">
              {{ element.dsModalidade }} - {{ element.cdModalidade }}
            </td>
          </ng-container>
          <ng-container matColumnDef="dtInicioOper">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Dt Ini Oper</th>
            <td mat-cell *matCellDef="let element">{{ converDateTimeStringToDateTimeBRString(element.dtInicioOper) }}
            </td>
          </ng-container>
          <ng-container matColumnDef="dtVencimentoOper">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Dt Ven Oper</th>
            <td mat-cell *matCellDef="let element">{{ converDateTimeStringToDateTimeBRString(element.dtVencimentoOper)
              }}</td>
          </ng-container>
          <ng-container matColumnDef="moeda">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Moeda</th>
            <td mat-cell *matCellDef="let element">
              {{ element.moeda }} - {{ element.cdMoeda }}
            </td>
          </ng-container>
          <ng-container matColumnDef="qtde">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Vl Oper</th>
            <td mat-cell *matCellDef="let element">
              Qt: {{ element.qtde | currency: 'BRL' }} / Vl ME: {{ element.vlOperacaoMe | currency: 'BRL' }} / Vl MN: {{
              element.vlOperacaoMn | currency: 'BRL' }}
            </td>
          </ng-container>
          <ng-container matColumnDef="sgModulo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sistema</th>
            <td mat-cell *matCellDef="let element">
              {{ element.sgSistema }} - {{ element.sgModulo }}
            </td>
          </ng-container>
          <ng-container matColumnDef="cdCgcCpf">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>CNPJ/CPF</th>
            <td mat-cell *matCellDef="let element">{{ element.cdCgcCpf }}</td>
          </ng-container>
          <ng-container matColumnDef="dcEnd1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Endereço</th>
            <td mat-cell *matCellDef="let element">
              {{ element.dcEnd1 }} - {{ element.dcEnd2 }} - {{ element.dcEnd3 }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            [ngClass]="{'selected-row': selection.isSelected(row)}"></tr>
        </table>
      </div>
      <mat-paginator [length]="totalElements" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        [showFirstLastButtons]="true" (page)="changePage($event)" [disabled]="dataSource.data.length === 0">
      </mat-paginator>
    </div>
  </div>
</mat-card>