<mat-card>
  <form
    [formGroup]="parametrizacaoSearchForm"
    (ngSubmit)="onSubmit()"
    autocomplete="off"
  >
    <mat-card-content class="mat-card-content action-box">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Modalidade</mat-label>
        <mat-select formControlName="cdModalidade">
          <mat-option value="">TODAS</mat-option>
          <mat-option
            *ngFor="let modality of modalities$ | async"
            [value]="modality.cdModalidade"
            [matTooltip]="modality.dsModalidade + ' - ' + modality.cdModalidade"
          >
            {{ modality.dsModalidade }} - {{ modality.cdModalidade }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Sistema Origem</mat-label>
        <mat-select formControlName="cdSisOrig">
          <mat-option value="">TODAS</mat-option>
          <mat-option
            *ngFor="let sourceSystem of sourceSystem$ | async"
            [value]="sourceSystem.cdSisOrig"
            [matTooltip]="
              sourceSystem.nmSistema + ' - ' + sourceSystem.cdSisOrig
            "
          >
            {{ sourceSystem.nmSistema }} - {{ sourceSystem.cdSisOrig }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Campo Origem (Midas)</mat-label>
        <mat-select formControlName="iddDCamd">
          <mat-option
            *ngFor="let origem of origemMidas"
            [value]="origem.value"
            [matTooltip]="origem.key"
          >
            {{ origem.key }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Campo Destino (Extrato)</mat-label>
        <mat-select formControlName="iddDCaex">
          <mat-option
            *ngFor="let destino of destinoExtratos"
            [value]="destino.value"
            [matTooltip]="destino.key"
          >
            {{ destino.key }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <div class="row center-md">
        <div class="col-md-2 end-md">
          <button
            mat-raised-button
            type="button"
            (click)="resetFilter()"
            color="primary"
          >
            Limpar filtros
          </button>
        </div>
        <div class="col-md-2 start-md">
          <button mat-raised-button type="submit" color="accent">
            Pesquisar
          </button>
        </div>
      </div>
    </mat-card-actions>
  </form>
</mat-card>
