<app-extrato-report></app-extrato-report>
<mat-card>
  <mat-card-content class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="nomeCliente" matSortDirection="asc" >
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? toggleAll() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? toggleRow(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="cdCliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cd Cliente</th>
        <td mat-cell *matCellDef="let extrato">{{ extrato.cdCliente }}</td>
      </ng-container>

      <ng-container matColumnDef="nomeCliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
        <td mat-cell *matCellDef="let extrato">{{ extrato.nomeCliente }}</td>
      </ng-container>

      <ng-container matColumnDef="cpfCnpjCliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CNPJ</th>
        <td mat-cell *matCellDef="let extrato">
          {{ extrato.cpfCnpjCliente | cnpj }}
        </td>
      </ng-container>

      <ng-container matColumnDef="vrPeriodo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Agendamento - Gerar Extrato</th>
        <td mat-cell *matCellDef="let extrato">{{ extrato.vrPeriodo? 'Sim' : 'Não' }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5">"{{search ? 'Não foram encontrados clientes com o nome:' + search : 'Não foram encontrados dados com as especificações informadas'}}"</td>
      </tr>
    </table>
    <mat-paginator [length]="totalElements" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      [showFirstLastButtons]="true" (page)="handleChangePage($event)"></mat-paginator>
    <div class="button-box">

      <button mat-raised-button color="primary"  (click)="openMaintenanceDialog()">
        Manutenção de Clientes
      </button>
    </div>
  </mat-card-content>

</mat-card>
