<div>
  <app-spinner [show]="loadingClients"></app-spinner>
  <div class="mat-elevation-z8">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <mat-radio-button (click)="$event.stopPropagation()" (change)="selection.select(row)">
            </mat-radio-button>
          </td>
        </ng-container>
        <ng-container matColumnDef="cdCliente">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cd Cliente</th>
          <td mat-cell *matCellDef="let element">{{ element.cdCliente }}</td>
        </ng-container>
        <ng-container matColumnDef="nmCliente">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
          <td mat-cell *matCellDef="let element">{{ element.nmCliente }}</td>
        </ng-container>
        <ng-container matColumnDef="dtReferencia">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Dt Ref</th>
          <td mat-cell *matCellDef="let element">{{ element.dtReferencia | date: 'shortDate' }}</td>
        </ng-container>
        <ng-container matColumnDef="dsNegocio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição do Negócio</th>
          <td mat-cell *matCellDef="let element">{{ element.dsNegocio }} - {{ element.dsNegocioIngles }}</td>
        </ng-container>
        <ng-container matColumnDef="cdProduto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Produto</th>
          <td mat-cell *matCellDef="let element">
            {{ element.dsProduto }} - {{ element.cdProduto }}
          </td>
        </ng-container>
        <ng-container matColumnDef="cdModalidade">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Modalidade</th>
          <td mat-cell *matCellDef="let element">
            {{ element.dsModalidade }} - {{ element.cdModalidade }}
          </td>
        </ng-container>
        <ng-container matColumnDef="dtInicioOper">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Dt Ini Oper</th>
          <td mat-cell *matCellDef="let element">{{ element.dtInicioOper | date: 'shortDate' }}</td>
        </ng-container>
        <ng-container matColumnDef="dtVencimentoOper">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Dt Ven Oper</th>
          <td mat-cell *matCellDef="let element">{{ element.dtVencimentoOper | date: 'shortDate' }}</td>
        </ng-container>
        <ng-container matColumnDef="moeda">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Moeda</th>
          <td mat-cell *matCellDef="let element">
            {{ element.moeda }} - {{ element.cdMoeda }}
          </td>
        </ng-container>
        <ng-container matColumnDef="qtde">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Vl Oper</th>
          <td mat-cell *matCellDef="let element">
            Qt: {{ element.qtde | currency: 'BRL' }} / Vl ME: {{ element.vlOperacaoMe | currency: 'BRL' }} / Vl
            MN:
            {{ element.vlOperacaoMn | currency: 'BRL' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="displayQtde">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Exibição de Valores</th>
          <td mat-cell *matCellDef="let element">
            Qt: {{ element.displayQtde.charAt(0) }} / Sld ME: {{ element.displaySldMe.charAt(0) }} / Sld MN: {{
            element.displaySldMn.charAt(0) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="sgModulo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sistema</th>
          <td mat-cell *matCellDef="let element">
            {{ element.sgSistema }} - {{ element.sgModulo }}
          </td>
        </ng-container>
        <ng-container matColumnDef="cdCgcCpf">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>CNPJ/CPF</th>
          <td mat-cell *matCellDef="let element">{{ element.cdCgcCpf }}</td>
        </ng-container>
        <ng-container matColumnDef="dcEnd1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Endereço</th>
          <td mat-cell *matCellDef="let element">
            {{ element.dcEnd1 }} - {{ element.dcEnd2 }} - {{ element.dcEnd3 }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          [ngClass]="{'selected-row': selection.isSelected(row)}"></tr>
      </table>
    </div>
    <mat-paginator [length]="totalElements" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      [showFirstLastButtons]="true" (page)="changePage($event)" [disabled]="dataSource.data.length === 0">
    </mat-paginator>
  </div>
</div>