<app-spinner [show]="loading"></app-spinner>
<div class="container">
  <mat-card class="card">
    <div class="mat-display-1">
      <div class="rectangle"></div> Login
    </div>
    <div class="form">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="field">
          <div class="icon">
            <mat-icon>account_box</mat-icon>
          </div>
          <div class="full-width">
            <mat-form-field class="full-width">
              <mat-label>Username:</mat-label>
              <input matInput formControlName="username" required>
            </mat-form-field>
          </div>
        </div>
        <div class="field">
          <div class="icon">
            <mat-icon>lock</mat-icon>
          </div>
          <div class="full-width">
            <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput formControlName="password" required>
            </mat-form-field>
          </div>
        </div>
        <div class="button-box">
          <button mat-raised-button type="submit" class="button-login" color="accent">Login</button>
        </div>
        <div class="notice">
          <div class="mat-h4">Extrato de Cliente</div>
          <div class="mat-body-strong">Proibido qualquer tipo de acesso não autorizado </div>
        </div>
      </form>
    </div>
  </mat-card>
</div>
