.container {
  margin-top: 100px;
  display: flex;
  justify-content: center;

  .card {
    height: 476px;
    width: 570px;

    .mat-display-1 {
      display: flex;
      margin-left: 34px;
      margin-top: 34px;

      .rectangle {
        margin-right: 20px;
        height: 36px;
        width: 4px;
        background-color: #0098DB;
      }
    }

  }
}

.form {
  margin: 57px 54px;

  .field {
    display: flex;
    justify-content: flex-start;

    .icon {
      display: flex;
      align-items: center;
      margin-right: 5px;
      padding-bottom: 12px;
    }
  }
}

.button-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .button-login {
    width: 170px;
  }
}

.notice {
  margin-top: 60px;
  
  .mat-body-strong{
    font-style: italic;
  }
}