$backgraound-color-header: #2D3D4B;

@mixin menu {
  display: inline-flex;
  list-style-type: none;
  padding-left: 0px;
}

section {
  min-height: calc(100vh - 207px);
  display: flex;
  justify-content: center;
  
  .centraliza-conteúdo {
    width: 1200px;
  }
}

.setSize {
  min-height: calc(100vh - 144px);
}

.main-header-bg {
  height: 72px;
  background-color: $backgraound-color-header;
  padding: 3px 10px 0px 10px;

  .main-header {
    display: flex;
    height: 64px;
    justify-content: space-between;

    .logo-navigation {
      display: flex;
      justify-content: flex-start;

      img {        
        height: 38px;
        width: 148px;
        margin-top: 10px;
      }

      ul {
        @include menu;
        margin-top: 10px;
        margin-left: 121px;
        height: 16px;

        li {
          color: #FFF;
          font-size: 10px;
          letter-spacing: -0.22px;
          line-height: 13px;
          margin: 0px 7px 0px 7px;
        }
        
        li:nth-child(6) {
          color: #0098DB;
          display: inline-flex;
          text-decoration-line: underline;

          .mat-icon {
            height: 14px;
            width: 12px;
          }

          .material-icons {
            font-size: 13px;
            margin-left: 3px;
          }
        }
      }
    }
  }
}

.brd-bot {
  background-color: #67767F;
  height: 1px;
}

.nav-top {
  background-color: $backgraound-color-header;
  height: 36px;
  padding: 0px 10px;

  .nav-menu {

    ul {
      @include menu;
      margin: -1px 0px 0px 0px;
  
      li {
        border-right: 1px solid #FFF;
        color: #FFF;
        cursor: pointer;
        font-size: 12px;
        letter-spacing: -0.27px;
        padding: 6px 31px 4px 31px;
        text-align: center;
      }

      li:last-child {
        border-right: none;
      }

      li.active {
        border-top: 1px solid $backgraound-color-header;
        padding-top: 5px;
      }

      li:focus {
        outline: 0;
      }
    }
  }
}

.breadcrumb-bg {
  height: 27px;
  background-color: #C1C6CE;
  display: flex;
  justify-content: flex-start;
  
  div {
    display: flex;
    font-size: 10px;
    letter-spacing: -0.22px;
    line-height: 13px;
    margin: 7px 10px;

    span {
      color: #FFF;
      margin-right: 10px;
    }

    ul {
      @include menu;
      margin: 0px;

      li {
        list-style: none;
        color: #777;

        a {
          text-decoration: none;
          color: #777;
        }

        span {
          color: #777;
          margin: 0px 5px 0px 3px;
        }
      }

      li:last-child {
        span {
          display: none;
        }
      }
    }

  }
}

footer {
  align-items: center;
  background-color: #FFF;
  display: flex;
  height: 48px;
  justify-content: flex-start;
  margin-top: 20px;

  div {
    color: #777;
    font-size: 10px;
    height: 12px;
    letter-spacing: -0.22px;
    line-height: 12px;
    margin-left: 16px;
    width: 342px;
  }
}

.logout {
  cursor: pointer;
}