<header id="header">
  <div class="main-header-bg">
    <div class="main-header">
      <div class="logo-navigation">
        <img src="assets/images/logo-txt.png">
        <ul>
          <li>Deutsche Bank Group</li>
          <li>|</li>
          <li>Contato</li>
          <li *ngIf="isLogged">|</li>
          <li *ngIf="isLogged">Logado como {{ userName }}</li>
          <li *ngIf="isLogged" class="logout" (click)="logOut()">
            Logout
            <div>
              <mat-icon aria-hidden="false" aria-label="Example exit to app icon">
                exit_to_app
              </mat-icon>
            </div>
          </li>
        </ul>
      </div>
      <img src="assets/images/logo-square-white.svg">
    </div>
  </div>
  <div *ngIf="isLogged" class="brd-bot"></div>
  <div *ngIf="isLogged" class="nav-top">
    <div class="nav-menu">
      <ul>
        <li [matMenuTriggerFor]="menuMidas" *ngIf="hasPermission('midas')"
          [ngClass]="{'active': hasPathInUrl('midas')}">Midas</li>
        <li [matMenuTriggerFor]="menuSbs" *ngIf="hasPermission('sbs')" [ngClass]="{'active': hasPathInUrl('sbs')}">SBS
        </li>
      </ul>
    </div>
  </div>
</header>
<div *ngIf="isLogged" class="breadcrumb-bg">
  <div>
    <span>Você está aqui:</span>
    <ul>
      <li *ngFor="let breadCrumb of breadCrumbs">
        <a id="breadcrumb-{{ breadCrumb.label | lowercase }}" [routerLink]="breadCrumb.url">{{ breadCrumb.label }}</a>
        <span> / </span>
      </li>
    </ul>
  </div>
</div>

<section [ngClass]="{'setSize': !isLogged }">
  <div class="centraliza-conteúdo">
    <ng-content></ng-content>
  </div>
</section>

<footer id="footer">
  <div>Copyright © 2013 Deutsche Bank Brasil v1.0.0-SNAPSHOT_20201103-13:20</div>
</footer>

<mat-menu #menuMidas="matMenu">
  <button mat-menu-item routerLink="/midas/geracao">
    <span>Geração Extrato Consolidada e Analítica</span>
  </button>
  <button mat-menu-item routerLink="/midas/manutencao-modalidade">
    <span>Manutenção Modalidade</span>
  </button>
  <button mat-menu-item routerLink="/midas/parametrizacao-modalidade">
    <span>Parametrização Modalidade</span>
  </button>
  <button mat-menu-item routerLink="/midas/manutencao-extrato">
    <span>Manutenção Extrato</span>
  </button>
  <button mat-menu-item routerLink="/midas/autorizacao">
    <span>Autorização Manutenção Extrato</span>
  </button>
</mat-menu>

<mat-menu #menuSbs="matMenu">
  <button mat-menu-item routerLink="/sbs/geracao">
    <span>Geração Extrato</span>
  </button>
  <button mat-menu-item routerLink="/sbs/log">
    <span>Log de Processamento</span>
  </button>
</mat-menu>