<h1 mat-dialog-title>Modalidade - Manutenção</h1>
<div class="mat-dialog-content" mat-dialog-content>
  <form [formGroup]="preMontagemFormGroup" class="row formGroup">
    <mat-form-field appearance="fill" class="col-xs-3">
      <mat-label>Cd Sequencial</mat-label>
      <input
        matInput
        id="cdSeqModAplic"
        name="cdSeqModAplic"
        formControlName="cdSeqModAplic"
      />
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-xs-4">
      <mat-label>Parametrização da Modalidade</mat-label>
      <mat-select
        id="cdApplication"
        name="cdApplication"
        formControlName="cdApplication"
      >
        <mat-option value="1">Parametrizada</mat-option>
        <mat-option value="2">Não Parametrizada</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-xs-4">
      <mat-label>Cd Modalidade</mat-label>
      <mat-select
        id="cdModalidade"
        name="cdModalidade"
        formControlName="cdModalidade"
      >
        <mat-option value="">NULO + NULO</mat-option>
        <mat-option
          *ngFor="let modality of modalities$ | async"
          [value]="modality.cdModalidade"
          [matTooltip]="modality.dsModalidade + ' - ' + modality.cdModalidade"
        >
          {{ modality.dsModalidade }} - {{ modality.cdModalidade }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-xs-6">
      <mat-label>Descrição em Português</mat-label>
      <input
        matInput
        id="dsNegocio"
        name="dsNegocio"
        formControlName="dsNegocio"
      />
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-xs-6">
      <mat-label>Descrição Negócio em Inglês</mat-label>
      <input
        matInput
        id="dsNegocioIngles"
        name="dsNegocioIngles"
        formControlName="dsNegocioIngles"
      />
    </mat-form-field>

    <div class="checkbox-group col-xs-4">
      <mat-checkbox
        id="displayQtde"
        name="displayQtde"
        formControlName="displayQtde"
        >Disponibiliza Quantidade</mat-checkbox
      >
      <mat-checkbox id="displayMe" name="displayMe" formControlName="displayMe"
        >Disponibiliza Saldo na Moeda Estrangeira</mat-checkbox
      >
      <mat-checkbox id="displayMn" name="displayMn" formControlName="displayMn"
        >Disponibiliza Saldo na Moeda Nacional</mat-checkbox
      >
    </div>

    <mat-form-field appearance="fill" class="col-xs-3">
      <mat-label>Tipo Contábil</mat-label>
      <mat-select
        id="iiTipoContabil"
        name="iiTipoContabil"
        formControlName="iiTipoContabil"
      >
        <mat-option value="A">Somente Ativo</mat-option>
        <mat-option value="P">Somente Passivo</mat-option>
        <mat-option value="AP">Ativo e Passivo</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-xs-5">
      <mat-label>Descrição do Objeto de Negociação</mat-label>
      <input matInput id="dsObn" name="dsObn" formControlName="dsObn" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-xs-3">
      <mat-label>Sistema Origem</mat-label>
      <mat-select id="cdSisOrig" name="cdSisOrig" formControlName="cdSisOrig">
        <mat-option value="">NULO + NULO</mat-option>
        <mat-option
          *ngFor="let sourceSystem of sourceSystem$ | async"
          [value]="sourceSystem.cdSisOrig"
          [matTooltip]="sourceSystem.nmSistema + ' - ' + sourceSystem.cdSisOrig"
        >
          {{ sourceSystem.nmSistema }} - {{ sourceSystem.cdSisOrig }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-xs-2">
      <mat-label>Sigla do Sistema</mat-label>
      <input
        matInput
        id="cgSistema"
        name="cgSistema"
        formControlName="cgSistema"
        maxlength="2"
      />
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-xs-2">
      <mat-label>Sigla do Módulo</mat-label>
      <input
        matInput
        id="cgModulo"
        name="cgModulo"
        formControlName="cgModulo"
        maxlength="2"
      />
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-xs-3">
      <mat-label>Nome do Indexador do MIDAS</mat-label>
      <mat-select
        id="nmIndexador"
        name="nmIndexador"
        formControlName="nmIndexador"
      >
        <mat-option value="">NULO</mat-option>
        <mat-option
          *ngFor="let indexer of indexers$ | async"
          [value]="indexer.nmIndexador"
          [matTooltip]="indexer.cdIndexador + ' - ' + indexer.nmIndexador"
        >
          {{ indexer.cdIndexador }} - {{ indexer.nmIndexador }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-xs-2">
      <mat-label matTooltip="Código da Garantia no MIDAS"
        >Código da Garantia no MIDAS</mat-label
      >
      <input
        matInput
        id="cdGarantia"
        name="cdGarantia"
        formControlName="cdGarantia"
      />
    </mat-form-field>
  </form>
</div>
<div class="mat-dialog-actions" mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="salvarModalidade()">
    Salvar
  </button>
  <button mat-raised-button color="primary" (click)="close()">Sair</button>
</div>
