.mat-dialog-title {
  display: flex;
  justify-content: space-between;
  section {
    display: flex;

    mat-icon {
      display: flex;
      font-size: 32px;
    }
    .title {
      display: flex;
      margin: 0 20px;
      color: #000;
      font-size: 16px;
    }
  }
  .close {
    display: flex;
    font-size: 24px;
    cursor: pointer;
  }


}



.mat-dialog-content {
  li {

    color: #000000;
    font-size: 14px;
    letter-spacing: 0.13px;
    line-height: 20px;
  }
}

.mat-dialog-actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  button {

    min-width: 120px;
    text-align: center;
  }
}

