<h1 mat-dialog-title>Clientes - Manutenção</h1>
<div class="mat-dialog-content" mat-dialog-content>
  <div class="action-box">
    <mat-form-field appearance="fill">
      <mat-label>Nome do Cliente</mat-label>
      <input matInput id="name" name="name" #searchInput />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="adicionarCliente()" [disabled]="disableAdicionarCliente">
      Adicionar Cliente Extrato
    </button>

    <button mat-raised-button color="primary" (click)="removerCliente()" [disabled]="disableRemoverCliente">
      Remover Cliente Extrato
    </button>

    <button mat-raised-button color="primary" (click)="adicionarAgendamento()" [disabled]="disableAdicionarAgendamento">
      Adicionar Agendamento
    </button>

    <button mat-raised-button color="primary" (click)="removerAgendamento()" [disabled]="disableRemoverAgendamento">
      Remover Agendamento
    </button>
  </div>

  <app-extrato-dialog-list
    [search]="searchInput.value"
    (selectEmitter)="handleClientSelect($event)"
  ></app-extrato-dialog-list>
</div>
<div class="mat-dialog-actions" mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="close()">Sair</button>
</div>
