h1 {
  color: #000;
  font-size: 16px;
}

.action-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  button {
    margin: 10px;
  }
}

.mat-dialog-actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
