<div>
  <app-spinner [show]="loadPreMontagem"></app-spinner>
  <div class="row center-md">
    <div class="col-md-2">
      <button
        mat-raised-button
        [disabled]="!loaded"
        (click)="recarregar()"
        class="search-button"
        class="full-width"
        color="primary"
      >
        Recarregar
      </button>
    </div>
    <div class="col-md-2">
      <button
        mat-raised-button
        (click)="abrirFormulario()"
        [disabled]="selection.hasValue()"
        class="search-button"
        class="full-width"
        color="primary"
      >
        Inserir
      </button>
    </div>
    <div class="col-md-2">
      <button
        mat-raised-button
        (click)="abrirFormularioAlteracao()"
        [disabled]="!selection.hasValue()"
        class="search-button"
        class="full-width"
        color="primary"
      >
        Alterar
      </button>
    </div>
    <div class="col-md-2">
      <button
        mat-raised-button
        (click)="removerPreMontagem()"
        [disabled]="!selection.hasValue()"
        class="search-button"
        class="full-width"
        color="primary"
      >
        Remover
      </button>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <mat-radio-button
              (click)="$event.stopPropagation()"
              (change)="selection.select(row)"
            >
            </mat-radio-button>
          </td>
        </ng-container>
        <ng-container matColumnDef="cdSeqModAplic">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Cd Sequencial
          </th>
          <td mat-cell *matCellDef="let element">{{ element.cdSeqModAplic }}</td>
        </ng-container>
        <ng-container matColumnDef="cdApplication">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Modalidade
          </th>
          <td mat-cell *matCellDef="let element">{{ element.cdApplication | modalidadePipe }}</td>
        </ng-container>
        <ng-container matColumnDef="cdModalidade">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Cd Modalidade
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.cdModalidade }}
          </td>
        </ng-container>
        <ng-container matColumnDef="dsNegocio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Descrição em Português
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.dsNegocio }}
          </td>
        </ng-container>
        <ng-container matColumnDef="dsNegocioIngles">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Descrição Negócio Inglês
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.dsNegocioIngles }}
          </td>
        </ng-container>
        <ng-container matColumnDef="displayQtde">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Disponibiliza Quantidade
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.displayQtde }}
          </td>
        </ng-container>
        <ng-container matColumnDef="displayMe">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Disponibiliza Saldo na Moeda Estrangeira
          </th>
          <td mat-cell *matCellDef="let element">{{ element.displayMe }}</td>
        </ng-container>
        <ng-container matColumnDef="displayMn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Disponibiliza Saldo na Moeda Nacional
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.displayMn }}
          </td>
        </ng-container>
        <ng-container matColumnDef="iiTipoContabil">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
           Tipo Contábil
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.iiTipoContabil }}
          </td>
        </ng-container>
        <ng-container matColumnDef="dsObn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Descrição do Objeto de Negociação
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.dsObn }}
          </td>
        </ng-container>
        <ng-container matColumnDef="cdSisOrig">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Cd do Sistema Origem
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.cdSisOrig }}
          </td>
        </ng-container>

        <ng-container matColumnDef="cgSistema">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Sigla do Sistema
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.cgSistema }}
          </td>
        </ng-container>

        <ng-container matColumnDef="cgModulo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Sigla do Módulo
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.cgModulo }}
          </td>
        </ng-container>

        <ng-container matColumnDef="nmIndexador">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Nome do Indexador do MIDAS
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.nmIndexador }}
          </td>
        </ng-container>

        <ng-container matColumnDef="cdGarantia">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Cd da Garantia no MIDAS
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.cdGarantia }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [ngClass]="{ 'selected-row': selection.isSelected(row) }"
        ></tr>
      </table>
    </div>
    <mat-paginator
      [length]="totalElements"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      [showFirstLastButtons]="true"
      (page)="handleChangePage($event)"
      [disabled]="dataSource.data.length === 0"
    >
    </mat-paginator>
  </div>
</div>
