
<mat-card>
  <mat-card-content class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="isInsertedOnExtract" matSortDirection="desc" >
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          Selecione
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? handleChange(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
            [disabled]="disableToggle(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="isInsertedOnExtract">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente Adicionado</th>
        <td mat-cell *matCellDef="let extrato">{{ extrato.isInsertedOnExtract ? 'Sim' : '' }}</td>
      </ng-container>

      <ng-container matColumnDef="cdCliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cd Cliente</th>
        <td mat-cell *matCellDef="let extrato">{{ extrato.cdCliente }}</td>
      </ng-container>

      <ng-container matColumnDef="nomeCliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
        <td mat-cell *matCellDef="let extrato">{{ extrato.nomeCliente }}</td>
      </ng-container>

      <ng-container matColumnDef="cpfCnpjCliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CNPJ</th>
        <td mat-cell *matCellDef="let extrato">
          {{ extrato.cpfCnpjCliente | cnpj }}
        </td>
      </ng-container>

      <ng-container matColumnDef="vrPeriodo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Frequência</th>
        <td mat-cell *matCellDef="let extrato">{{ extrato.vrPeriodo === 'NENHUM' ? '' : extrato.vrPeriodo }}</td>
      </ng-container>

      <ng-container matColumnDef="vrHorario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Horário</th>
        <td mat-cell *matCellDef="let extrato">{{ extrato.vrHorario | horarioAgendamento }}</td>
      </ng-container>

      <ng-container matColumnDef="vrDiaSemana">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Dia da Semana</th>
        <td mat-cell *matCellDef="let extrato">{{ extrato.vrDiaSemana }}</td>
      </ng-container>

      <ng-container matColumnDef="dtRef">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Dia do Mês</th>
        <td mat-cell *matCellDef="let extrato">{{ extrato.dtRef }}</td>
      </ng-container>

      <ng-container matColumnDef="vrTipoRelatorio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Relatório</th>
        <td mat-cell *matCellDef="let extrato">{{ extrato.vrTipoRelatorio }}</td>
      </ng-container>

      <ng-container matColumnDef="vrEmailFlag">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Enviar E-mail</th>
        <td mat-cell *matCellDef="let extrato">{{ extrato.vrEmailFlag? 'Sim': '' }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [length]="totalElements" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      [showFirstLastButtons]="true" (page)="handleChangePage($event)"></mat-paginator>
    <div class="button-box">


    </div>
  </mat-card-content>

</mat-card>
