form {
  margin-top: 20px;
}

.title {
  color: #000;
  font-family: DeutscheBank;
  font-size: 16px;
  height: 24px;
  letter-spacing: 0.17px;
  line-height: 24px;
  margin-left: 24px;
  margin-top: 0px;
}

.close {
  cursor: pointer;
}