<div>
  <div>
    <div class="end-md">
      <mat-icon class="close" (click)="closeDialog()" aria-hidden="false" aria-label="info icon"> close </mat-icon>
    </div>
    <h1 mat-dialog-title class="title start-md">Extrato - Manutenção</h1>
  </div>
  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstForm">
      <form [formGroup]="firstForm" autocomplete="off">
        <ng-template matStepLabel>Dados Gerais</ng-template>
        <div class="row">
          <div class="col-md-3">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Cód da Empresa</mat-label>
              <input matInput formControlName="codigoEmpresa" [disabled]="isModeEdit" appOnlyIntegerNumber maxlength=6>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Cód do Cliente</mat-label>
              <input matInput formControlName="codigoCliente" appOnlyIntegerNumber maxlength=7 required>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Cód de Operação de Origem</mat-label>
              <input matInput formControlName="codigoOperacaoOrigem" maxlength=30>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Cód Grupo do Produto</mat-label>
              <input matInput formControlName="codigoGrupoProduto" maxlength=3 appOnlyIntegerNumber>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Cód Família do Produto</mat-label>
              <input matInput formControlName="codigoFamiliaProduto" maxlength=4 appOnlyIntegerNumber>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Cód do Produto</mat-label>
              <mat-select formControlName="codigoProduto" required>
                <mat-option *ngFor="let produto of modalities" [value]="produto.cdProduto">
                  {{ produto.dsProduto }} - {{ produto.cdProduto }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Cód de Modalidade</mat-label>
              <mat-select formControlName="codigoModalidade" [disabled]="!hasProductSelected" required>
                <mat-option *ngFor="let modality of modalitiesFilteredBySelectedProduct"
                  [value]="modality.cdModalidade">
                  {{ modality.dsModalidade}} - {{ modality.cdModalidade}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Cód de contrato</mat-label>
              <input matInput formControlName="codigoContrato" [disabled]="isModeEdit" maxlength=30
                appOnlyIntegerNumber>
            </mat-form-field>
          </div>
          <div class="col-md-8">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Nome do Cliente</mat-label>
              <input matInput formControlName="nomeCliente" maxlength=100>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Endereço 1</mat-label>
              <input matInput formControlName="endereco1" maxlength=100>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Endereço 2</mat-label>
              <input matInput formControlName="endereco2" maxlength=100>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Endereço 3</mat-label>
              <input matInput formControlName="endereco3" maxlength=100>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Nome - aos contatos</mat-label>
              <input matInput formControlName="nomeAosCuidados" [disabled]="isModeEdit" maxlength=35>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Descrição Objeto de Negociação</mat-label>
              <input matInput formControlName="descricaoObjetoNegociacao" maxlength=50>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Nome da Empresa</mat-label>
              <input matInput formControlName="nomeEmpresa" maxlength=64>
            </mat-form-field>
          </div>
        </div>


        <div class="row">
          <div class="col-md-4">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>CNPJ/CPF</mat-label>
              <input matInput formControlName="cnpjCpf" maxlength="14" appOnlyIntegerNumber>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Cód de Moeda</mat-label>
              <mat-select formControlName="codigoMoeda" required>
                <mat-option *ngFor="let currency of coins" [value]="currency.cdMoeda">
                  {{ currency.nmMoeda }} - {{ currency.cdMoedaIso }} - {{ currency.cdMoeda }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Nome do Indexador</mat-label>
              <mat-select formControlName="nomeIndexador" required>
                <mat-option *ngFor="let indexer of indexers" [value]="indexer.flTipoInx">
                  {{ indexer.nmIndexador }} - {{ indexer.cdIndexador }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row end-md">
          <div class="col-md-2">
            <button mat-raised-button color="primary" class="full-width" matStepperNext>Próximo</button>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondForm">
      <form [formGroup]="secondForm" autocomplete="off">
        <ng-template matStepLabel>Valores</ng-template>
        <div class="row">
          <div class="col-md-2">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Sigla do Sistema</mat-label>
              <input matInput formControlName="siglaSistema" maxlength=2>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Sigla do Módulo</mat-label>
              <input matInput formControlName="siglaModulo" maxlength=2>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Quantidade</mat-label>
              <input matInput formControlName="quantidade" appOnlyIntegerNumber>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Valor Contábil</mat-label>
              <input type="number" matInput formControlName="valorContabil">
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Valor Corrigido em Moeda Estrangeira</mat-label>
              <input type="number" matInput formControlName="valorCorrigidoMoedaEstrangeira">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Valor da Oper. em Moeda Estrangeira</mat-label>
              <input type="number" matInput formControlName="valorOperacaoMoedaEstrangeira">
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Valor da Oper. em Moeda Nacional</mat-label>
              <input type="number" matInput formControlName="valorOperacaoMoedaNacional">
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Valor da Oper. na Moeda da Empresa</mat-label>
              <input type="number" matInput formControlName="valorOperacaoMoedaEmpresa">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Valor dos Juros em Moeda Estrangeira</mat-label>
              <input type="number" matInput formControlName="valorJurosMoedaEstrangeira">
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Valor dos Juros em Moeda Nacional</mat-label>
              <input type="number" matInput formControlName="valorJurosMoedaNacional">
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Tipo Contábil</mat-label>
              <mat-select formControlName="tipoContabil" required>
                <mat-option value="A">ATIVO</mat-option>
                <mat-option value="P">PASSIVO</mat-option>
                <mat-option value="C">COMPENSAÇÃO</mat-option>
                <mat-option value=null>TODOS</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Data de Referência</mat-label>
              <input matInput [matDatepicker]="dataReferencia" [disabled]="true" formControlName="dataReferencia" />
              <mat-datepicker-toggle matSuffix [for]="dataReferencia">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #dataReferencia></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Data Início da Operação</mat-label>
              <input matInput [matDatepicker]="dataInicioOperacao" formControlName="dataInicioOperacao" />
              <mat-datepicker-toggle matSuffix [for]="dataInicioOperacao">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #dataInicioOperacao></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Data de Vencimento</mat-label>
              <input matInput [matDatepicker]="dataVencimentoOperacao" formControlName="dataVencimentoOperacao" />
              <mat-datepicker-toggle matSuffix [for]="dataVencimentoOperacao">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #dataVencimentoOperacao></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Data de Liquidação da Operação</mat-label>
              <input matInput [matDatepicker]="dataLiquidacaoOperacao" formControlName="dataLiquidacaoOperacao" />
              <mat-datepicker-toggle matSuffix [for]="dataLiquidacaoOperacao">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #dataLiquidacaoOperacao></mat-datepicker>
            </mat-form-field>
          </div>
        </div>


        <div class="row">
          <div class="col-md-3">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Código do Pais</mat-label>
              <input matInput formControlName="codigoPais" appOnlyIntegerNumber>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Código da Filial</mat-label>
              <input matInput formControlName="codigoFilial" appOnlyIntegerNumber>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Código da Garantia</mat-label>
              <input matInput formControlName="codigoGarantia" appOnlyIntegerNumber>
            </mat-form-field>
          </div>
        </div>

        <div class="row between-md">
          <button mat-raised-button matStepperPrevious color="accent" class="col-md-2">Voltar</button>
          <button mat-raised-button matStepperNext (click)="onSubmit()" color="primary" class="col-md-2">Salvar</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>