<mat-card>
  <form [formGroup]="manutencaoSearchForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <mat-card-content class="mat-card-content action-box">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Código da Modalidade</mat-label>
      <mat-select formControlName="cdModalidade">
        <mat-option value="">TODAS</mat-option>
        <mat-option
          *ngFor="let modality of modalities$ | async"
          [value]="modality.cdModalidade"
          [matTooltip]="modality.dsModalidade + ' - ' + modality.cdModalidade"
        >
          {{ modality.dsModalidade }} - {{ modality.cdModalidade }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Modalidade</mat-label>
      <mat-select formControlName="cdApplication">
        <mat-option value="">TODAS</mat-option>
        <mat-option value="1">Parametrizada</mat-option>
        <mat-option value="2">Não Parametrizada</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Código Sequencial</mat-label>
      <input
      matInput
      id="name"
      name="name"
      appOnlyIntegerNumber
      formControlName="cdSeqModAplic"
    />
    </mat-form-field>

  </mat-card-content>
  <mat-card-actions>
    <div class="row center-md">
      <div class="col-md-2 end-md">
        <button mat-raised-button type="button" (click)="resetFilter()"
          color="primary">Limpar
          filtros</button>
      </div>
      <div class="col-md-2 start-md">
        <button mat-raised-button type="submit" color="accent">Pesquisar</button>
      </div>
    </div>
  </mat-card-actions>
  </form>
</mat-card>
