<div [hidden]="extratos.length === 0">
  <mat-card>
    <mat-card-content class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="logId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let derivativo">{{ derivativo.logId }}</td>
        </ng-container>

        <ng-container matColumnDef="cdCli">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cd Cliente</th>
          <td mat-cell *matCellDef="let derivativo">{{ derivativo.cdCli }}</td>
        </ng-container>

        <ng-container matColumnDef="nmCli">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
          <td mat-cell *matCellDef="let derivativo">
            {{ derivativo.nmCli }}
          </td>
        </ng-container>

        <ng-container matColumnDef="agTipo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Tipo Agendamento
          </th>
          <td mat-cell *matCellDef="let derivativo">
            {{ derivativo.agTipo }}
          </td>
        </ng-container>

        <ng-container matColumnDef="execucao">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Tipo Execução
          </th>
          <td mat-cell *matCellDef="let derivativo">
            {{ derivativo.execucao }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let derivativo">
            {{ derivativo.status }}
          </td>
        </ng-container>

        <ng-container matColumnDef="descricao">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
          <td mat-cell *matCellDef="let derivativo">
            {{ derivativo.descricao }}
          </td>
        </ng-container>

        <ng-container matColumnDef="filename">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Nome do Arquvio
          </th>
          <td mat-cell *matCellDef="let derivativo">
            {{ derivativo.filename }}
          </td>
        </ng-container>

        <ng-container matColumnDef="dtLog">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
          <td mat-cell *matCellDef="let derivativo">
            {{ derivativo.dtLog | date: "shortDate" }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [length]="totalElements"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        [showFirstLastButtons]="true"
        (page)="handleChangePage($event)"
      ></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>

<mat-card *ngIf="errorMessage">
  <p>{{ errorMessage }}</p>
  Data usada: {{ errorDate | date: "shortDate" }}
</mat-card>
