<mat-card>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Nome do Cliente</mat-label>
      <input
        matInput
        id="name"
        name="name"
        [(ngModel)]="search"
        (ngModelChange)="handleSearch()"
      />
      <mat-icon matSuffix (click)="handleSearch()">search</mat-icon>
    </mat-form-field>
  </mat-card-content>
</mat-card>
