.mat-dialog-title {
  display: flex;
  justify-content: space-between;
  section {
    display: flex;

    mat-icon {
      display: flex;
      font-size: 32px;
    }
    .title {
      display: flex;
      margin: 0 20px;
      font-size: 16px;
    }
  }
  .close {
    display: flex;
    font-size: 24px;
    cursor: pointer;
  }
}

.action-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  button {
    margin: 10px;
  }
}

.mat-dialog-actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
