<h1 class="mat-dialog-title" mat-dialog-title>
  <section>
    <mat-icon aria-hidden="false" aria-label="info icon">
      error
    </mat-icon>
    <span class="title" *ngIf="clientDTOs.length > 0">{{data.titulo}}</span>
  </section>
  <mat-icon
    class="close"
    (click)="dialogRef.close()"
    aria-hidden="false"
    aria-label="info icon"
  >
    close
  </mat-icon>
</h1>
<div mat-dialog-content>
  <ul *ngFor="let clienteDTO of clientDTOs">
    <li>{{ clienteDTO.cdCliente }} - {{clienteDTO.nomeCliente}}</li>
  </ul>


  <p class="title" *ngIf="msgErros.length > 0">Ocorreram os seguintes erros:</p>

  <ul *ngFor="let msgError of msgErros">
    <li>{{ msgError }}</li>
  </ul>

</div>
<div class="mat-dialog-actions" mat-dialog-actions>

  <button mat-raised-button color="primary" (click)="dialogRef.close()">
    Sair
  </button>
</div>
