<div>
  <app-spinner [show]="loadPreMontagem"></app-spinner>
  <div class="row center-md">
    <div class="col-md-2">
      <button
        mat-raised-button
        [disabled]="!loaded"
        (click)="recarregar()"
        class="search-button"
        class="full-width"
        color="primary"
      >
        Recarregar
      </button>
    </div>
    <div class="col-md-2">
      <button
        mat-raised-button
        (click)="abrirFormulario()"
        [disabled]="selection.hasValue()"
        class="search-button"
        class="full-width"
        color="primary"
      >
        Inserir
      </button>
    </div>
    <div class="col-md-2">
      <button
        mat-raised-button
        (click)="abrirFormularioAlteracao()"
        [disabled]="!selection.hasValue()"
        class="search-button"
        class="full-width"
        color="primary"
      >
        Alterar
      </button>
    </div>
    <div class="col-md-2">
      <button
        mat-raised-button
        (click)="removerPreMontagem()"
        [disabled]="!selection.hasValue()"
        class="search-button"
        class="full-width"
        color="primary"
      >
        Remover
      </button>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <mat-radio-button
              (click)="$event.stopPropagation()"
              (change)="selection.select(row)"
            >
            </mat-radio-button>
          </td>
        </ng-container>
        <ng-container matColumnDef="cdSeqModalidade">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Cd Sequencial
          </th>
          <td mat-cell *matCellDef="let element">{{ element.cdSeqModalidade }}</td>
        </ng-container>
        <ng-container matColumnDef="cdModalidade">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Cd Modalidade
          </th>
          <td mat-cell *matCellDef="let element">{{ element.cdModalidade }}</td>
        </ng-container>
        <ng-container matColumnDef="cdSisOrig">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Sistema Origem
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.cdSisOrig }}
          </td>
        </ng-container>
        <ng-container matColumnDef="qtCasaDec">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Quantidade de Casas Decimais
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.qtCasaDec }}
          </td>
        </ng-container>
        <ng-container matColumnDef="iddDTrro">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Trunca/Arredor
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.iddDTrro }}
          </td>
        </ng-container>
        <ng-container matColumnDef="iddDCamd">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Campo Origem (Midas)
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.iddDCamd }}
          </td>
        </ng-container>
        <ng-container matColumnDef="iddDCaex">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Campo Destino (Extrato)
          </th>
          <td mat-cell *matCellDef="let element">{{ element.iddDCaex }}</td>
        </ng-container>
        <ng-container matColumnDef="iddDSnop">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Vl Absoluto / Original / Sinal Invertido
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.iddDSnop }}
          </td>
        </ng-container>
        <ng-container matColumnDef="cdProduto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Cd do Produto
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.cdProduto }}
          </td>
        </ng-container>
        <ng-container matColumnDef="cdMoedaOper">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Cd da Moeda da Operação
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.cdMoedaOper }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [ngClass]="{ 'selected-row': selection.isSelected(row) }"
        ></tr>
      </table>
    </div>
    <mat-paginator
      [length]="totalElements"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      [showFirstLastButtons]="true"
      (page)="handleChangePage($event)"
      [disabled]="dataSource.data.length === 0"
    >
    </mat-paginator>
  </div>
</div>
