<app-pre-montagem-parametrizacao-search
  (searchMontagemEmitter)="handleSearch($event)"
  (clearParametrizacaoEmitter)="handleClearParametrizacao($event)"
></app-pre-montagem-parametrizacao-search>
<mat-card>
  <div class="grid-list">
    <app-pre-montagem-parametrizacao-list
      #preMontagemParametrizacaoList
      [loaded]="loaded"
      [preMontagemResponse]="preMontagemResponse"
      [loadPreMontagem]="loadPreMontagem"
      (recarregarEmitter)="handleRecarregar()"
      (changePageEmitter)="handleChangePage($event)"
    ></app-pre-montagem-parametrizacao-list>
  </div>
</mat-card>
