/* Importando Grid, referencia: http://flexboxgrid.com/#top*/
@import 'assets/css/grid.min.css';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$db-brand: (
  50 : #e6e8e9,
  100 : #c0c5c9,
  200 : #969ea5,
  300 : #6c7781,
  400 : #4d5a66,
  500 : #2d3d4b,
  600 : #283744,
  700 : #222f3b,
  800 : #1c2733,
  900 : #111a23,
  A100 : #65adff,
  A200 : #3292ff,
  A400 : #0077fe,
  A700 : #006be5,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff
  )
);

$db-blue: (
  50 : #e0e3f5,
  100 : #b3bae5,
  200 : #808cd4,
  300 : #4d5dc2,
  400 : #263bb5,
  500 : #0018a8,
  600 : #0015a0,
  700 : #001197,
  800 : #000e8d,
  900 : #00087d,
  A100 : #aaacff,
  A200 : #7779ff,
  A400 : #4447ff,
  A700 : #2a2eff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff
  )
);

$db-bright-blue: (
  50 : #e0f3fb,
  100 : #b3e0f4,
  200 : #80cced,
  300 : #4db7e6,
  400 : #26a7e0,
  500 : #0098db,
  600 : #060707,
  700 : #0085d2,
  800 : #007bcd,
  900 : #006ac4,
  A100 : #ecf5ff,
  A200 : #b9dbff,
  A400 : #86c0ff,
  A700 : #6db3ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000
  )
);

$db-warn: (
  50 : #fce0e6,
  100 : #f7b3bf,
  200 : #f28095,
  300 : #ec4d6b,
  400 : #e8264b,
  500 : #e4002b,
  600 : #e10026,
  700 : #dd0020,
  800 : #d9001a,
  900 : #d10010,
  A100 : #fff9f9,
  A200 : #ffc6c8,
  A400 : #ff9397,
  A700 : #ff7a7e,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$extrato-frontend-primary: mat-palette($db-brand);
$extrato-frontend-accent: mat-palette($db-bright-blue, 500, 100, 900);

// The warn palette is optional (defaults to red).
$extrato-frontend-warn: mat-palette($db-warn);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$extrato-frontend-theme: mat-light-theme((
  color: (
    primary: $extrato-frontend-primary,
    accent: $extrato-frontend-accent,
    warn: $extrato-frontend-warn,
  )
));

@font-face {
  font-family: 'DeutscheBank';
  src: url('assets/fonts/DeutscheBankText_W_Rg.eot');
  src: url('assets/fonts/DeutscheBankText_W_Rg.eot?#iefix')
           format('embedded-opentype'),
       url('assets/fonts/DeutscheBankText_W_Rg.woff2') format('woff2'),
       url('assets/fonts/DeutscheBankText_W_Rg.woff') format('woff2'),
       url('assets/fonts/DeutscheBankText_Rg.ttf') format('truetype');
}

// @font-face {
//   font-family: 'DeutscheBank';
//   src: url('assets/fonts/DeutscheBankText_W_Rg.eot'); /* IE 9 compat mode*/
//   src: url('assets/fonts/DeutscheBankText_W_Rg.woff2') format('woff2'), /* Modern browsers */
//        url('assets/fonts/DeutscheBankText_W_Rg.woff') format('woff2'), /* Pretty Modern browsers */
//        url('assets/fonts/DeutscheBankText_Rg.ttf') format('truetype'); /* Safari, Android, iOS */
// }

/* Criado configurações de fonte para sobrescrever a font padrão do Anagular Material */
$custom-typography: mat-typography-config(
  $font-family: 'DeutscheBank, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

/* Sobrescrevendo cores do Angular Material */
@include angular-material-theme($extrato-frontend-theme);
/* Sobrescrevendo fontes de todas tipografias e de todos os compoenentes */
@include angular-material-typography($custom-typography);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: DeutscheBank, sans-serif; background-color: #E9EFF3; }

.full-width {
  width: 100%;
}

.space-between-card {
  height: 20px;
}

.mat-card {
  border-radius: 0px !important;
}

.mat-button-toggle-checked {
  color: #fff;
  background-color: #002244;
}

.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
  color: #fff
}

.mat-button-toggle-appearance-standard {
  color: #C1C6CE;
}

table {
  width: 100%;
}

@mixin snackbar-simple {
  .mat-simple-snackbar-action {
    position: absolute;
    right: 16px;
    top: 13px;

    .mat-button-wrapper {
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

.custom-snackbar-error {
  background: #E4002B;
  color: rgba(255, 255, 255, 0.8);

  @include snackbar-simple();

}

.custom-snackbar-info {
  background-color: #0098db;
  color:  rgba(255, 255, 255, 0.8);

  @include snackbar-simple();
}

.mat-menu-item {
  font-size: 12px;
}

.search-button {
  width: 125px;
}
