<mat-card>
  <mat-card-content class="mat-card-content">
    <mat-form-field appearance="fill" class="flex">
      <mat-label>Data</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="date" [max]="dataAtual" />
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="handleDate()">
      Pesquisar
    </button>

  </mat-card-content>
</mat-card>
