<h1 class="mat-dialog-title" mat-dialog-title>
  <section>
    <mat-icon aria-hidden="false" aria-label="info icon">
      query_builder
    </mat-icon>
    <span class="title">Agendamento de Extrato</span>
  </section>
  <mat-icon
    class="close"
    (click)="dialogRef.close()"
    aria-hidden="false"
    aria-label="info icon"
  >
    close
  </mat-icon>
</h1>
<form
  [formGroup]="agendamentoForm"
  (ngSubmit)="salvarAgendamento()"
  autocomplete="off"
>
  <div class="mat-dialog-content" mat-dialog-content>
    <div class="action-box">
      <mat-form-field appearance="fill">
        <mat-label>Frequência</mat-label>
        <mat-select name="periodo" #vrPeriodo formControlName="vrPeriodo" (change)="clearWhenPeriodoChanges()">
          <mat-option
            *ngFor="let frequencia of frequencias"
            [value]="frequencia"
            >{{ frequencia }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Horário</mat-label>
        <mat-select name="horario" formControlName="vrHorario" #horario>
          <mat-option
            *ngFor="let horario of horariosAgendamento"
            [value]="horario"
            >{{ horario }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Dia da Semana</mat-label>
        <mat-select name="diaSemana" formControlName="vrDiaSemana" #diaSemana>
          <mat-option
            *ngFor="let diaSemana of diasSemanaAgendamento"
            [value]="diaSemana"
            >{{ diaSemana }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Dia do mês</mat-label>
        <mat-select name="diaMes" id="agendamento" formControlName="dtRef" >
          <mat-option
            *ngFor="let diaMes of diasDisponiveisAgendamento"
            [value]="diaMes"
            >{{ diaMes }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div class="report-box">
      <span> Tipo Relatório: </span>
      <mat-checkbox id="pdfCheckbox" (change)="handleCheckboxChange($event, 'pdfCheckbox')" color="accent">PDF</mat-checkbox>
      <mat-checkbox id="excelCheckbox" (change)="handleCheckboxChange($event, 'excelCheckbox')"color="accent">Excel</mat-checkbox>
    </div>
  </div>
  <div class="mat-dialog-actions" mat-dialog-actions>
    <button
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="agendamentoForm.invalid"
    >
      Salvar
    </button>
    <button mat-raised-button color="primary" (click)="dialogRef.close()">
      Sair
    </button>
  </div>
</form>
