.mat-dialog-title {
  display: flex;
  justify-content: space-between;
  section {
    display: flex;

    mat-icon {
      display: flex;
      font-size: 32px;
    }
    .title {
      display: flex;
      margin: 0 20px;
      font-size: 16px;
    }
  }
  .close {
    display: flex;
    font-size: 24px;
    cursor: pointer;
  }
}

.action-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  mat-form-field {
    margin: 10px;
  }
}

.report-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  mat-checkbox {
    margin: 10px;
  }
}


.mat-dialog-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    min-width: 120px;
    text-align: center;
  }
}
