mat-card {
  border-radius: 0;
}

mat-card-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.checkbox-group {
  justify-content: space-between;
  mat-checkbox {
    min-width: 70px;
  }
  mat-checkbox {
    &:first-child {
      margin: 0 20px;
    }
    &:last-child {
      margin: 0 20px;
    }
  }
}

button {
  padding: 0 30px;
}
