<mat-card>
  <mat-card-content>
    <mat-form-field appearance="fill" class="flex">
      <mat-label>Data da posição</mat-label>
      <input matInput [matDatepicker]="picker" [max]="dataAtual" [(ngModel)]="dataPosicao"/>
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="checkbox-group flex">
      <mat-checkbox color="primary" [(ngModel)]="pdfCheckbox" [disabled]="isMailReportSelected">Salvar PDF</mat-checkbox>
      <mat-checkbox color="primary" [(ngModel)]="excelCheckbox" [disabled]="isMailReportSelected">Salvar Excel</mat-checkbox>
      <mat-checkbox color="primary" [(ngModel)]="mailCheckbox" [disabled]="isNotMailReportSelected">Enviar PDF por E-mail</mat-checkbox>
    </div>

    <button mat-raised-button color="primary" (click)="generateReport()" [disabled]="isReportDisabled">
      Gerar Extratos
    </button>
  </mat-card-content>
</mat-card>
