#spinner-container {
  height: 100%;
  width: 100%;

  .background-of-spinner {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #FFF;
    z-index: 100;
    opacity: 0.7;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  
  .spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    top: 0px;
    left: 0px;
  }
}